* {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 253);
    font-family: Arial, Helvetica, sans-serif;
}

/* Top navbar properties */
.top_navbar {
    height: 55px;
    border-bottom: 1px solid rgb(220, 220, 220);

    /* Navbar container properties */
    .contents {
        margin: auto;
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        /* Logo Properties */
        .logo {
            width: 125px;
            height: auto;
            margin-right: auto;
        }

        /* Button properties */
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: lighter;
            padding: 18px;
            font-size: 13px;
            color: rgb(60, 66, 78);
            border: none;

            /* Icon properties of top nav bar */
            i {
                margin-right: 10px;
                margin-left: 5px;
                font-size: 20px;
            }

            /* Rupee icon properties */
            .fa-indian-rupee-sign {
                font-size: 14px;
                margin-right: 0px;
            }

            span {
                margin-right: 10px;
            }
        }

        .rupees {
            padding: 16px;
        }
    }

    /* Button pseudo properties of top navbar */
    button:hover {
        background-color: #eef3f5;
        cursor: pointer;

        i {
            background-color: #eef3f5;
        }

        span {
            background-color: #eef3f5;
        }
    }

    /* Logo pseudo properties of top navbar*/
    .logo:hover {
        cursor: pointer;
    }
}



/* Heading and line properties i.e. below navbar */
.below_navbar {
    margin: auto;
    margin-top: 55px;
    width: 65%;
    color: rgb(10, 17, 33);

    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 40px;
    }
}



/* Searchbox properties */
.searchbox {
    height: 55px;
    width: 65%;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;


    /* Every button properties of search box */
    button {
        border: none;

        /* First element properties of every button in search box */
        .one {
            color: rgb(108, 112, 122);
            font-size: 11px;
            padding-bottom: 5px;
        }
    }

    /* Every second element properties of button in search box */
    .two {
        font-weight: bold;
        padding-left: 15px;
    }

    /* First container properties of search box */
    .destination {
        height: 100%;
        width: 30%;
        border-right: solid 1px rgb(220, 220, 220);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        align-items: center;

        /* Box properties of first container of search box */
        .first_button {
            height: 90%;
            width: 97%;
            border-radius: 10px;
            margin-left: 3px;
            display: flex;
            align-items: center;

            i {
                font-size: 20px;
                padding: 10px;
                padding-right: 0px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        /* Pseudo properties of first button */
        .first_button:hover {
            background-color: #eef3f5;

            .one {
                background-color: #eef3f5;
            }

            .two {
                background-color: #eef3f5;
                cursor: text;
            }

            i {
                background-color: #eef3f5;
            }
        }
    }

    /* Property of second container which contain entry and exit details */
    .hotel_entry {
        height: 100%;
        width: 30%;
        border-right: solid 1px rgb(220, 220, 220);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        align-items: center;

        /* Container which will help to draw middle line */
        .middle_line {
            width: 50%;
            height: 50%;
            border-right: solid 1px rgb(220, 220, 220);

            /* Checkin box properties which is inside the container which we have taken to draw middle line */
            .check_in {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                /* Boxes properties inside check in and check out */
                .boxes {
                    display: flex;
                    align-items: center;
                    margin-left: 3px;
                    /* border: solid 2px red; */
                    width: 95%;
                    height: 180%;
                    border-radius: 10px;

                    /* First element property of button in check in and checkout */
                    .one {
                        padding-left: 10px;
                    }

                    /* Icon properties of check in box */
                    i {
                        font-size: 20px;
                        padding: 10px;
                        padding-right: 0px;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                }
            }
        }

        /* Checkput box properties */
        .check_out {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;

            .boxes {
                display: flex;
                align-items: center;
                margin-left: 5px;
                width: 97%;
                height: 90%;
                border-radius: 10px;

                /* First element property of button in check in and checkout */
                .one {
                    padding-left: 10px;
                }

                /* Icon properties of check in box */
                i {
                    font-size: 20px;
                    padding: 10px;
                    padding-right: 0px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }
    }

    /* Property of last container which contains two different things guest and room details and a search button */
    .final_entry {
        height: 100%;
        width: 40%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;

        /* Box properties of last container */
        .boxes {
            height: 90%;
            width: 65%;
            border-radius: 10px;
            margin-left: 3px;
            display: flex;
            align-items: center;

            /* Icon properties of last container */
            i {
                font-size: 20px;
                padding: 10px;
                padding-right: 0px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        /* Search button properties of last container */
        .search_button {
            padding: 12px;
            font-weight: bold;
            color: white;
            font-size: 14px;
            background-color: rgb(1, 117, 199);
            margin-left: 15px;
            padding-left: 8%;
            padding-right: 8%;
            border-radius: 10px;
        }

        /* Pseudo properties of button */
        .search_button:hover {
            background-color: rgb(0, 95, 163);
            cursor: pointer;
        }
    }

    /* All boxes pseudo properties of search box */
    .boxes:hover {
        background-color: #eef3f5;
        cursor: pointer;

        p {
            background-color: #eef3f5;
            cursor: pointer;
        }

        i {
            background-color: #eef3f5;
            cursor: pointer;
        }
    }
}

/* Logo bar properties below search box */
.logobar {
    width: 65%;
    height: 50px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 30%;
    }

    span {
        font-size: 12px;
        color: rgb(108, 112, 122);
    }
}

/* Image and calendar box */
.image_and_calendar {
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Background image box properties */
    .imagebox {
        height: 90%;
        width: 65%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.295), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.837), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255)), url(paris.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* Heading properties */
        h2 {
            background-color: transparent;
            color: white;
            margin-left: 30px;
            align-self: flex-start;
            margin-bottom: auto;
            margin-top: 40px;
        }

        /* Calendar box properties */
        .calendar {
            height: 65%;
            width: 70%;
            background-color: white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            /* Places bar properties */
            .place {
                background-color: white;
                height: 40px;
                width: 95%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                
                .country_buttons {
                    width: 92%;
                    overflow-x: hidden;
                    white-space: nowrap;
                    
                    .london{
                        color: white;
                        background-color: black;
                        border: solid 1px rgb(0, 0, 0);
                    }

                    button {
                        padding: 8px;
                        padding-left: 10px;
                        padding-right: 10px;
                        white-space: nowrap;
                        border-radius: 20px;
                        margin-right: 5px;
                        font-size: 12px;
                        font-weight: bolder;
                        border: solid 1px rgb(204, 203, 203);
                    }

                    button:Hover{
                        cursor: pointer;
                    }
                }

                .next_button{
                    width: 5%;

                    button{
                        padding: 8px;
                        padding-left: 12px;
                        padding-right:12px;
                        border-radius: 50%;
                        font-size: 12px;
                        font-weight: bolder;
                        border: solid 1px rgb(204, 203, 203);
                        background-color: white;
                    }

                    button:Hover{
                        cursor: pointer;
                    }
                }
            }

            /* Months container properties inside calendar box*/
            .months{
                width: 95%;
                height: 80%;
                margin-top: 15px;
                display: grid;
                grid-template-columns: 325px 325px;
                row-gap: 8px;
                column-gap: 15px;
                background-color: white;

                button{
                    display: flex;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: 14px;
                    font-weight: bolder;
                    border: solid 1px rgb(209, 209, 209);
                    border-radius: 10px;
                    background-color: white;

                    .month{
                        margin-left: 12px;
                    }

                    .dollar{
                        margin-left: auto;

                        .green{
                            color: rgb(13, 91, 13);
                        }

                        .silver{
                            color: silver;
                        }

                        .black{
                            color: black;
                        }
                    }

                    .symbol{
                        margin-left: 5px;
                        margin-right: 20px;
                    }
                }

                button:Hover{
                    cursor: pointer;
                }
            }
        }
    }
}

/* Top hotels area */
.top_hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: white;
    width: 100%;
    height: 450px;

    /* Heading property */
    .heading {
        width: 65%;
        background-color: white;
        margin-bottom: 20px;

        h2 {
            background-color: white;
        }
    }

    /* Country selection */
    .country {
        width: 65%;
        display: flex;
        margin-bottom: 15px;
        background-color: white;

        div {
            padding-left: 21px;
            padding-right: 21px;
            padding-bottom: 5px;
            font-weight: bolder;
            border-bottom: solid 1px rgb(181, 181, 181);
            color: rgba(108, 112, 122);
            background-color: white;
        }

        .spain {
            color: black;
            border-bottom: solid black 2px;
        }

        /* Hover properties on country */
        div:hover {
            color: black;
            cursor: pointer;
        }
    }

    /* Hotels pictures and details property in top hotels */
    .hotel_and_details {
        width: 65%;
        display: flex;
        justify-content: space-between;

        .hotels {
            width: 310px;
            height: 350px;
            border-radius: 5%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            /* First hotel */
            .hotel_image1{
                width: 100%;
                height: 70%;
                background-image: url("Es Princep.webp");
                border-top-right-radius: 5%;
                border-top-left-radius: 5%;
            }

            /* Second hotel */
            .hotel_image2{
                width: 100%;
                height: 70%;
                background-image: url("Hotel\ Carmen\ Teresa.webp");
                border-top-right-radius: 5%;
                border-top-left-radius: 5%;
            }

            /* Third hotel */
            .hotel_image3{
                width: 100%;
                height: 70%;
                background-image: url("Hotel\ Balneario\ Las\ Arenas.webp");
                border-top-right-radius: 5%;
                border-top-left-radius: 5%;
            }

            /* Properties of every hotel details */
            .name{
                margin-top: 15px;
                margin-left: 15px;
                font-size: 13px;
            }

            .rating{
                display: flex;
                margin-top: 10px;
                margin-left: 15px;

                .one{
                    font-size: 13px;
                    font-weight: bolder;
                    margin-right: 8px;
                }

                .two{
                    font-size: 13px;
                    margin-right: 20px;
                }

                .three{
                    font-size: 13px;

                    i{
                        margin-right: 5px;
                    }
                }
            }

            .other_details{
                display: flex;
                margin-top: 15px;
                margin-left: 20px;

                .one{
                    font-size: 15px;
                    font-weight: bolder;
                    margin-right: 15px;
                    
                    i{
                        margin-right: 5px;
                        color: rgb(0, 106, 255);
                    }
                }

                .two{
                    font-size: 15px;
                    font-weight: bolder;

                    i{
                        margin-right: 5px;
                        color: rgb(0, 106, 255);
                    }
                }
            }
        }
    }
}

/* More stays */
.more_stays{
    width: 100%;
    height: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .more_search{
        width: 65%;
        background-color: white;
        display: flex;
        justify-content: end;
        font-size: 15px;
        font-weight: bolder;
        color: rgb(7, 69, 156);
        p{
            margin-right: 10px;
        }
    }

    .more_search:hover{
        cursor: pointer;
    }
}